.App {
  text-align: center;
  color: white;
  border: black;
  margin-top: 20%;
  font-family: Raleway;
}

.button {
    border: 1px solid red;
    border-radius: 25px;
    color: black;
    display: inline-block;
    padding: 10px 50px;
    margin-left: 43%;
    margin-top:0%
}

.button:hover {
  background-color: red; 
  color: pink;
}









